# ignore 

# cmake files (in-source-build)
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

# executables (in-source-build)
reverse_engineering/tools/edam
reverse_engineering/tools/edc
reverse_engineering/tools/san2ascii
reverse_engineering/tools/san2png
reverse_engineering/tools/til2png
reverse_engineering/tools/pal2gpl
reverse_engineering/tools/pal2png
reverse_engineering/tools/sme2ascii
reverse_engineering/tools/levelviewer
eracha

# game content
game/

# temporary stuff
tmp/
