# ignore 

# cmake files (in-source-build)
reverse_engineering/tools/CMakeFiles
reverse_engineering/tools/CMakeCache.txt
reverse_engineering/tools/cmake_install.cmake
reverse_engineering/tools/Makefile

# executables (in-source-build)
reverse_engineering/tools/edam
reverse_engineering/tools/edc
reverse_engineering/tools/san2ascii
reverse_engineering/tools/san2png
reverse_engineering/tools/til2png
reverse_engineering/tools/pal2gpl
reverse_engineering/tools/pal2png
reverse_engineering/tools/sme2ascii
reverse_engineering/tools/levelviewer

# game content
game/

# temporary stuff
tmp/
